.weatherForecastHourly {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  &_item {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .main_text {
    font-size: 4vw;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    max-width: 85%;
    max-height: 85%;
  }

  .text_info {
    font-size: 4vw;
  }
}
