@import '../../styles/common.scss';

.tweetInfo {
    font-size: 4.5vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: space-between;

    .user {
        text-align: left;

        .user_name {
            font-weight: 900;
            margin-right: 1rem;
        }

        .username {
            font-style: italic;
        }
    }

    .content {
        font-size: 5.25vh;
        word-wrap: break-word;
        text-justify: inter-word;
        text-align: justify;
        flex-wrap: wrap;
        display: flex;
        overflow-wrap: break-word;
        white-space: break-spaces;
    }

    .dateTime {
        text-align: right;
    }
}