.weatherForecastDaily {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;

  &_item {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .main_text {
    font-size: 4vw;
  }

  .icon {
    max-width: 99.9%;
    max-height: 99.9%;
  }

  .text_info {
    font-size: 4.5vw;
  }
}
