@import '../../styles/common.scss';

.weatherCurrent {
    text-align: center;
    font-size: 14vh;
    height: $item-max-height;
  
    &_item {
      max-height: $item-mid-height;
      height: $item-mid-height;
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    &_doubleItem {
      max-height: $item-mid-height;
      height: $item-mid-height;
      width: 100% !important;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .weather-icon {

    }

    .weather-temp {
      font-size: 14vh;  
    }

    .weather-text {
      font-size: 13vh;
      word-break: keep-all;
      text-overflow: ellipsis; 
      overflow: hidden;
      white-space: nowrap;
    }

    .weather-forecast {
      font-size: 10vh; 
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    @include icon(42vh, 42vh, 42vh, 42vh);
    
  }
  