@import '../../common.scss';

.datetime {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  height: 100%;
  height: $item-max-height;

  .weekDay,
  .date,
  .time {
    font-size: 20vh;
  }
}
