.datetime {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 100%;

    .weekDay {
      font-size: 12vw;
    }

    .date {
      font-size: 12vw;
    }

    .time {
      font-size: 12vw;
    }
}
