@import '../../styles/common.scss';

.datetime {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  height: 100%;
  height: $content-height;

  .weekDay,
  .date,
  .time {
    font-size: 18vh;
    margin-top: 0;
    margin-bottom: 0;
  }
}
