@import '../../styles/common.scss';

.main-header {
  width: 100vw;
  height: $header-height;
  font-size: 7.25vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  
  & > .time {
    margin-left: 1vw;
  }

  & > .temp {
    text-align: center;
    display: flex;
    align-items: center;
    @include icon(11vh, 11vh, 11vh, 11vh);
  }

  & > .date {
      margin-right: 1vw;
  }

  &.only-weather {
    justify-content: center;
    font-size: 10vh;
  }

  &.date-time {
    justify-content: space-evenly;
    font-size: 11vh;
  }

  &.time-weather {
    justify-content: space-evenly;
    font-size: 11vh;
  }

  &.full {
    justify-content: space-evenly;
    font-size: 7.25vh;
  }
}

.day .main-header {
  background-color: $night-bk;
  color:$night-font-color;
}

.night .main-header {
  background-color: $day-bk;
  color:$day-font-color;
}
