.mainSlider {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &_left, &_right{
    font-size: 10vw;
    align-self: center;
  }
}
.day {
  background-color: #76a7e3;
}
.night {
  background-color: #1f4371;
  color: #ffffff;
}
