@import '../../styles/common.scss';

.weatherCurrent {
    text-align: center;
    font-size: 14vh;
    height: $item-max-height;
  
    &_item {
      max-height: $item-mid-height;
      height: $item-mid-height;
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    &_doubleItem {
      max-height: $item-mid-height;
      height: $item-mid-height;
      width: 100% !important;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    @include icon(42vh, 42vh, 42vh, 42vh);
    
  }
  