.weatherCurrentComp {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-size: 6.5vw;
  text-align: center;

  &_item {
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
