@import '../../styles/common.scss';

.weatherCurrentComp {
    height: $item-max-height;
    display: flex;
    flex-wrap: wrap;
    font-size: 7.75vh;
    text-align: center;
  
    &_item {
      height: calc($item-max-height / 2);
      width: 33.33%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &_double_width_item {
      height: calc($item-max-height / 2);
      width: 66.66%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .sunInfo {
      flex-wrap: wrap;
      flex-direction: column;
      font-size: 6.75vh;
    }

    .sunrise, .sunset {
      display: flex;
      flex-direction: row;
      align-content: space-around;
      justify-content: space-around;
      align-items: center;
    }

    .dayLight {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-content: space-around;
      justify-content: space-around;
      align-items: center;
    }

    .moonInfo {
      font-size: 6.25vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
    }

    .airQuality {
      font-size: 6.75vh;
    }
}

.moon {
    width: 15vh;
    height: 15vh;
    border: 2px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    display: none;
    
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0; left: 0;
      background-color: $night-bk;
      width: 50%; height: 100%;
    }
  
    .disc {
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      
      &::before, &::after {
        content: " ";
        display: block;
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        backface-visibility: hidden;
      }
      &::before {
        background-color: $night-bk;
      }
      &::after {
        background-color: #fff;
      }
    }
  
    &.NewMoon {
      display: inline-block;
      .disc {
        transform: rotateY(0deg);
        &::after {
          transform: rotateY(180deg);
        }
      }
    }
    &.WaxingCrescent {
      display: inline-block;
      .disc {
        transform: rotateY(315deg);
        &::after {
          transform: rotateY(180deg);
        }
      }
    }
    &.FirstQuarterMoon {
      display: inline-block;
      .disc {
        transform: rotateY(90deg);
        &::after {
          transform: rotateY(180deg);
        }
      }
    }
    &.WaxingGibbous {
      display: inline-block;
      .disc {
        transform: rotateY(135deg);
        &::after {
          transform: rotateY(180deg);
        }
      }
    }
    &.FullMoon {
      display: inline-block;
      .disc {
        transform: rotateY(180deg);
        &::after {
          transform: rotateY(180deg);
        }
      }
    }
    &.WaningGibbous {
      transform: rotateY(180deg);
      display: inline-block;
      .disc {
        transform: rotateY(135deg);
        &::after {
          transform: rotateY(180deg);
        }
      }
    }
    &.LastQuarterMoon {
      transform: rotateY(180deg);
      display: inline-block;
      .disc {
        transform: rotateY(90deg);
        &::after {
          transform: rotateY(180deg);
        }
      }
    }
    &.WaningCrescent {
      transform: rotateY(180deg);
      display: inline-block;
      .disc {
        transform: rotateY(315deg);
        &::after {
          transform: rotateY(180deg);
        }
      }
    }
  }