// @use 'icons';

$day-bk:#76a7e3;
$day-font-color:#000;

$night-bk:#1f4371;
$night-font-color:#FFF;

$img-bk:#4B75AA;
$item-max-height:90vh;
$item-mid-height:45vh;
$icon_url: 'https://openweathermap.org/img/wn/';
$icon_ext: '@4x.png';

@mixin icon($max-width: 1px, $max-height: 1px, $width: 95%, $height: 95%) {
  .icon {
    width: $width;
    height: $height;
    border-radius: 20%;
    max-width: $max-width;
    max-height: $max-height;
    background-color: $img-bk;
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 145%;
    display: inline-block;
    
    &.icon_01d {
      background-image: url($icon_url + '01d' + $icon_ext);
    }
    &.icon_02d { 
      background-image: url($icon_url + '02d' + $icon_ext); 
    }
    &.icon_03d { 
      background-image: url($icon_url + '03d' + $icon_ext); 
    } 
    &.icon_04d { 
      background-image: url($icon_url + '04d' + $icon_ext); 
    }
    &.icon_09d { 
      background-image: url($icon_url + '09d' + $icon_ext); 
    }
    &.icon_10d { 
      background-image: url($icon_url + '10d' + $icon_ext); 
    }
    &.icon_11d { 
      background-image: url($icon_url + '11d' + $icon_ext); 
    }
    &.icon_13d { 
      background-image: url($icon_url + '13d' + $icon_ext); 
    }
    &.icon_50d { 
      background-image: url($icon_url + '50d' + $icon_ext); 
    }

    &.icon_01n {
      background-image: url($icon_url + '01n' + $icon_ext); 
    }
    &.icon_02n{ 
      background-image: url($icon_url + '02n' + $icon_ext); 
    }
    &.icon_03n{ 
      background-image: url($icon_url + '03n' + $icon_ext); 
    }
    &.icon_04n{ 
      background-image: url($icon_url + '04n' + $icon_ext); 
    }
    &.icon_09n { 
      background-image: url($icon_url + '09n' + $icon_ext); 
    }
    &.icon_10n { 
      background-image: url($icon_url + '10n' + $icon_ext); 
    }
    &.icon_11n { 
      background-image: url($icon_url + '11n' + $icon_ext); 
    }
    &.icon_13n { 
      background-image: url($icon_url + '13n' + $icon_ext); 
    }
    &.icon_50n { 
      background-image: url($icon_url + '50n' + $icon_ext); 
    }
  }
}

.mainSlider {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &_left, &_right{
    font-size: 10vw;
    align-self: center;
  }
}

.none {
  background-color: #7F7F7F;
  color: #555555;
}

.day {
  background-color: $day-bk;
  color: #000;
}

.night {
  background-color: $night-bk;
  color: #fff;
}
  
.main-header {
  width: 100vw;
  height: 10vh;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  
  &_time {
      margin-left: 1vw;
  }
  &_temp {
    text-align: center;
    display: flex;
    align-items: center;
    @include icon(7.5vh, 7.5vh, 7.5vh, 7.5vh);
  }
  &_date {
      margin-right: 1vw;
  }
}

.day .main-header {
  background-color: $night-bk;
  color:$night-font-color;
}

.night .main-header {
  background-color: $day-bk;
  color:$day-font-color;
}

.datetime {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  height: 100%;
  height: $item-max-height;

  .weekDay {
    font-size: 12vw;
  }

  .date {
    font-size: 12vw;
  }

  .time {
    font-size: 12vw;
  }
}

.weatherCurrent {
    text-align: center;
    font-size: 8.5vw;
    height: $item-max-height;
  
    &_item {
      max-height: $item-mid-height;
      height: $item-mid-height;
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    &_doubleItem {
      max-height: $item-mid-height;
      height: $item-mid-height;
      width: 100% !important;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    @include icon(49.9vh, 49.9vh);
    
  }
  
.weatherCurrentComp {
    height: $item-max-height;
    display: flex;
    flex-wrap: wrap;
    font-size: 5vw;
    text-align: center;
  
    &_item {
      height: calc($item-max-height / 2);
      width: 33.33%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &_double_width_item {
      height: calc($item-max-height / 2);
      width: 66.66%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .sunInfo {
      flex-wrap: wrap;
      flex-direction: row;
    }

    .sunrise, .sunset {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
    }

    .dayLight {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }

.weatherForecastDaily {
  height: $item-max-height;
  display: flex;
  flex-wrap: wrap;

  &_item {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .main_text {
    font-size: 4vw;
  }

  @include icon(20vw, 20vw);

  .text_info {
    font-size: 4.5vw;
  }
}

.weatherForecastHourly {
  height: $item-max-height;
  display: flex;
  flex-wrap: wrap;

  &_item {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .main_text {
    font-size: 4vw;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include icon(20vw, 20vw);

  .text_info {
    font-size: 4vw;
  }
}

.exchangeRates {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12vh;

  &_item {
    width: 100vw; 
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
  
.borderTop {
  border-top: 1px solid $img-bk !important;
}
.borderRight {
  border-right: 1px solid $img-bk !important;
}
.borderBottom {
  border-bottom: 1px solid $img-bk !important;
}
.borderLeft {
  border-left: 1px solid $img-bk !important;
}
.borderNone {
  border: 1px solid transparent !important;
}